.navbarUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}
  
.navbarA {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}

.navbarLi {
    display: inline;
    float: left;
}

.navbarLi:hover {
    background-color: #111;
}
  
.navbarLi:active {
    background-color: #04AA6D;
}

.navbarLiSign {
    display: inline;
    float: right;
}

.navbarLiSign:hover {
    background-color: #111;
}
  
.navbarLiSign:active {
    background-color: #04AA6D;
}
